BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
ColumnLimit: 0
ContinuationIndentWidth: 16
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
BreakStringLiterals: false
BinPackArguments: false
SortIncludes: false
AlignEscapedNewlines: DontAlign
