*.o
*.html
*.gz
*.dylib
*.a
*.dSYM
Makefile.config
allpairs/src/allpairs_master
allpairs/src/allpairs_multicore
chirp/src/chirp
chirp/src/chirp_benchmark
chirp/src/chirp_distribute
chirp/src/chirp_fuse
chirp/src/chirp_get
chirp/src/chirp_put
chirp/src/chirp_server
chirp/src/chirp_status
chirp/src/chirp_stream_files
configure.rerun
dttools/src/catalog_server
dttools/src/catalog_update
dttools/src/chunk_test
dttools/src/hmac_test
dttools/src/microbench
dttools/src/multirun
dttools/src/watchdog
dttools/src/work_queue_example
dttools/src/work_queue_pool
dttools/src/work_queue_status
dttools/src/work_queue_worker
dttools/src/work_queue_workload_simulator
ftp_lite/src/ftp_lite_copy
ftp_lite/src/ftp_lite_test
makeflow/src/makeflow
makeflow/test/syntax/export.external.makeflow.makeflowlog
resource_monitor/src/piggybacker
resource_monitor/src/resource_monitorv
resource_monitor/src/rmonitor_piggyback.h
resource_monitor/src/rmonitor_piggyback.h.gch
resource_monitor/test/hogmem
resource_monitor/test/msqrt
s3tools/src/s3get
s3tools/src/s3getacl
s3tools/src/s3ls
s3tools/src/s3mkdir
s3tools/src/s3put
s3tools/src/s3rm
s3tools/src/s3rmdir
s3tools/src/s3setacl
s3tools/src/s3stat
sand/src/sand_align_kernel
sand/src/sand_align_master
sand/src/sand_compress_reads
sand/src/sand_filter_kernel
sand/src/sand_filter_master
sand/src/sand_uncompress_reads
wavefront/src/wavefront
wavefront/src/wavefront_master

