/*
This styling is needed to make tabbed code examples work correctly.
https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/#styling-with-css
*/

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background: #ddd;
  margin: 1em 0 1em 0;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 100%;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
    color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
    font-weight: bold;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}

