# Example of a starch command configuration. 
# Create a self-contained package to run the command `date` using the timezone
# specified in starch-example.env with:
#
# starch -C starch-example.config date.sfx
# ./date.sfx
#

[starch]
# command to execute when executing the resulting starch package
command = date

# comma-separated list of executables to include in the package. If not an
# absolute path, then they musth be found in PATH
executables = /bin/date

# comma-separated list of dynamically linked libraries (e.g. *.so files) to
# include in the package
libraries = 

# comma-separated list of sh files to be sourced before the command's
# execution. Useful to export necessary environment variables.
environments = starch-example.env

# comma-separated list of mappings of PACKAGE_PATH:HOST_PATH of files to include
# in the package.
data = my_data/motd:/etc/motd
