catalog_history_count whitespace=-indent-with-non-tab
catalog_history_filter whitespace=-indent-with-non-tab
catalog_history_plot whitespace=-indent-with-non-tab
catalog_history_read_and_print whitespace=-indent-with-non-tab
catalog_history_select whitespace=-indent-with-non-tab
catalog_history_stream whitespace=-indent-with-non-tab
