[starch]
executables = perl
libraries = /usr/lib64/perl5/CORE/libperl.so /lib64/libresolv.so.2 /lib64/libnsl.so.1 /lib64/libdl.so.2 /lib64/libm.so.6 /lib64/libcrypt.so.1 /lib64/libutil.so.1 /lib64/libpthread.so.0 /lib64/libc.so.6 /lib64/ld-linux-x86-64.so.2 /lib64/libfreebl3.so
command = perl text_analyzer.pl
